body {
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  width: 100%;
  top: 5%;
  z-index: 1;
}

header:before{
  content: '';
  background-color: white;
  height: 0.1px;
  width: 37%;
  position: absolute;
  left: 15%;
  z-index: 1;
}

header div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(89, 88, 88, 0.397); /* Very transparent white */
      -webkit-backdrop-filter: blur(2em); /* Apply blur effect */
      backdrop-filter: blur(3px);
}

header a{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  align-self: center;
  transition: .5s;
  line-height: 70px;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
}

header a:hover{
  border-bottom: solid 3px white;
  cursor: pointer;
}

header img{
  height: 60%;
  margin-left: 5%;
  border-radius: 50px;
  background-color: white;
}

main{
  
}

#home{
  background:  
    url('assets/home/background-home-desktop.jpg')
    no-repeat center top / 100% 100%;
  padding: 20% 10% 10% 10%;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1% 25%;
}

#home h1{
  order: 1;
  grid-column: span 2;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  letter-spacing: 5px;
}

#home h2{
  order: 2;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 150px;
  letter-spacing: 5px;
}

#home p{
  order: 4;
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  width: 75%;
}

#home button{
  order: 3;
  grid-row: span 2;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  text-transform: uppercase;
  font-size: 40px;
  border-style: none;
  margin-top: 35%;
  text-align: center;
  transition: .3s;
  font-family: 'Segoe UI', sans-serif;
}

#home button:hover{
  border: solid 2px white;
  background-color: transparent;
  color: white;
}

#destination{
  background:  
  url('assets/destination/background-destination-desktop.jpg')
  no-repeat center top / 100% 100%;
  padding: 15% 10% 10% 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

#destination h2, #crew h2, #technology h2{
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 5px;
}

#destination h2 span, #crew h2 span, #technology h2 span{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.planetsPanel{
  margin-top: 5%;
  width: 40%;
  align-self: end;
}

.planetsNav{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 25px;
}

.planetsNav a{
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 5%;
  font-weight: 100;
  transition: .1s;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.planetsNav a:hover{
  color: white;
  border-bottom: solid 1px white;
}

.planet{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.planet h3{
  grid-column: span 2;
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

.planet p{
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 25px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 15%;
  height: 100px;
}

.planet h4{
  margin: 3% 0 0 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}

.planet h5{
  margin: 2% 0 0 0;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
}

#crew{
  background:  
  url('assets/crew/background-crew-desktop.jpg')
  no-repeat center top / 100% 100%;
  padding: 15% 10% 0 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

.crewPanel{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.crewItem{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.crewItem h3{
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  height: 35px;
  margin: 20% 0 0 0;
}

.crewItem h4{
  color: white;
  font-size: 55px;
  font-weight: 100;
  text-transform: uppercase;
  height: 65px;
  margin: 0;
}

.crewItem p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 25px;
  height: 100px;
  margin: 0 0 50% 0;
}

.crewItem img{
  grid-row: span 3;
  height: 700px;
}

.crewNav{
  position: absolute;
  bottom: 0;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.crewNav a{
  font-size: 150px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  transition: .1s;
}

.crewNav a:hover{
 color: white;
}

#technology{
  background:  
  url('assets/technology/background-technology-desktop.jpg')
  no-repeat center top / 100% 100%;
  padding: 15% 0 5% 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

.techPanel{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.techNav{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  margin-right: 5%;
}

.techNav button{
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-family: 'Segoe UI', sans-serif;
  font-size: 25px;
  width: 75px;
  height: 75px;
  border: solid 1px white;
  border-radius: 50px;
  margin: 20% 0;
  transition: .5s;
}

.techNav button:hover{
  background-color: white;
  color: black;
}

.techItem{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5%;
}

.techItem h3{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 20% 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}

.techItem h4{
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin: -15% 0 0 0;
}

.techItem p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 25px;
  margin: -10% 0 10% 0;
}

.techItem img{
  grid-row: span 3;
  justify-self: end;
}