body {
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  width: 100%;
  top: 5%;
  z-index: 1;
}

header:before{
  content: '';
  background-color: white;
  height: 0.1px;
  width: 37%;
  position: absolute;
  left: 15%;
  z-index: 1;
}

#DeskNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(89, 88, 88, 0.397); /* Very transparent white */
      -webkit-backdrop-filter: blur(2em); /* Apply blur effect */
      backdrop-filter: blur(3px);
}

#DeskNav a{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  align-self: center;
  transition: .5s;
  line-height: 70px;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
}

#DeskNav a:hover{
  border-bottom: solid 3px white;
  cursor: pointer;
}

header img{
  height: 60%;
  margin-left: 5%;
  border-radius: 50px;
  background-color: white;
}

#MobNavPanel{
  display: none;
}

#home{
  background:  
    url('assets/home/background-home-desktop.jpg')
    no-repeat center top / 100% 100%;
  padding: 20% 10% 10% 10%;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1% 25%;
}

#MobNav{
  display: none;
}

#home h1{
  order: 1;
  grid-column: span 2;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  letter-spacing: 5px;
}

#home h2{
  order: 2;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 150px;
  letter-spacing: 5px;
}

#home p{
  order: 4;
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  width: 75%;
}

#home button{
  order: 3;
  grid-row: span 2;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  text-transform: uppercase;
  font-size: 40px;
  border-style: none;
  margin-top: 35%;
  text-align: center;
  transition: .3s;
  font-family: 'Segoe UI', sans-serif;
}

#home button:hover{
  border: solid 2px white;
  background-color: transparent;
  color: white;
}

#destination{
  background:  
    url('assets/destination/background-destination-desktop.jpg')
    no-repeat center top / 100% 100%;
  padding: 15% 10% 10% 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

#destination h2, #crew h2, #technology h2{
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 5px;
}

#destination h2 span, #crew h2 span, #technology h2 span{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.planetsPanel{
  margin-top: 5%;
  width: 100%;
}

.planetsNav{
  width: 40%;
  display: flex;
  flex-direction: row;
  height: 25px;
  margin-left: 60.5%;
}

.planetsNav a{
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 2.5%;
  font-weight: 100;
  transition: .1s;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.planetsNav a:hover{
  color: white;
  border-bottom: solid 1px white;
}

.planet{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.planet img{
  grid-row: span 4;
}

.planet h3{
  grid-column: span 2;
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

.planet p{
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 25px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 15%;
  height: 100px;
}

.planet h4{
  margin: 3% 0 0 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}

.planet h5{
  margin: 2% 0 0 0;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
}

#crew{
  background:  
    url('assets/crew/background-crew-desktop.jpg')
    no-repeat center top / 100% 100%;
  padding: 15% 10% 0 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

.imgMob{
  display: none;
}

.crewPanel{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.crewItem{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.crewItem h3{
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  height: 35px;
  margin: 20% 0 0 0;
}

.crewItem h4{
  color: white;
  font-size: 55px;
  font-weight: 100;
  text-transform: uppercase;
  height: 65px;
  margin: 0;
}

.crewItem p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 25px;
  height: 100px;
  margin: 0 0 50% 0;
}

.crewItem img{
  grid-row: span 3;
  height: 700px;
  align-self: end;
}

.crewNav{
  position: absolute;
  bottom: 0;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.crewNav a{
  font-size: 150px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  transition: .1s;
}

.crewNav a:hover{
 color: white;
}

#technology{
  background:  
  url('assets/technology/background-technology-desktop.jpg')
  no-repeat center top / 100% 100%;
  padding: 15% 0 5% 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

.techPanel{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.techNav{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  margin-right: 5%;
}

.techNav button{
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-family: 'Segoe UI', sans-serif;
  font-size: 25px;
  width: 75px;
  height: 75px;
  border: solid 1px white;
  border-radius: 50px;
  margin: 20% 0;
  transition: .5s;
}

.techNav button:hover{
  background-color: white;
  color: black;
}

.techItem{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5%;
}

.techItem h3{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 20% 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}

.techItem h4{
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0 0 0 0;
}

.techItem p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 30% 0;
}

.techItem img{
  grid-row: span 3;
  justify-self: end;
}

@media (min-width: 1980px){
  body, header{
    width: 1980px;
  }

  #MobNavPanel{
    display: none;
  }
}

@media (max-width: 1080px){
  body, header{
    width: 1080px;
  }

  #MobNavPanel{
    display: none;
  }

  header{
    position: absolute;
    top: 0;
    height: 125px;
  }

  header:before{
    display: none;
  }

  #DeskNav{
    width: 50%;
  }

  #DeskNav a{
    line-height: 125px;
    font-size: 20px;
  }

  #DeskNav a strong{
    display: none;
  }

  #home{
    background:  
      url('assets/home/background-home-tablet.jpg')
      no-repeat center top / 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #home h2{
    font-size: 200px;
    margin-top: -2.5%;
  }

  #home p{
    width: 65%;
    font-size: 20px;
    line-height: 35px;
  }

  #home button{
    order: 4;
    margin-top: 15%;
  }

  #destination{
    background:  
      url('assets/destination/background-destination-tablet.jpg')
      no-repeat center top / 100% 100%;
    position: relative;
    padding: 15% 5% 10% 5%;
  }

  #destination h2, #crew h2, #technology h2{
    font-size: 25px;
  }

  .planetsNav{
    position: absolute;
    justify-content: space-around;
    margin: 0;
    right: 25%;
    top: 55%;
    height: 35px;
    width: 50%;
  }

  .planetsNav a{
    font-size: 25px;
    color: white;
  }

  .planet{
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .planet img{
    grid-column: span 2;
    margin-left: 25%;
    width: 50%;
  }

  .planet h3{
    margin-top: 10%;
    font-size: 150px;
  }

  .planet p{
    padding: 0 10% 10% 10%;
    font-size: 25px;
    color: white;
    line-height: 35px;
    border-bottom: none;
  }

  .planet h4{
    color: white;
    font-size: 25px;
  }

  .planet h5{
    font-size: 45px;
    font-weight: 400;
  }

  #crew{
    background:  
      url('assets/crew/background-crew-tablet.jpg')
      no-repeat center top / 100% 100%;
    padding: 15% 5% 0 5%;
  }

  .crewItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .crewItem h3{
    order: 1;
    font-size: 50px;
    height: 70px;
    margin-top: 5%;
    color: white;
  }

  .crewItem h4{
    order: 2;
    font-size: 75px;
    height: 105px;
    margin-top: 0;
    font-weight: 400;
  }

  .crewItem p{
    order: 3;
    margin-bottom: 15%;
    margin-top: 3%;
    font-size: 25px;
    color: white;
    line-height: 35px;
    padding: 0 10% 0 10%;
  }

  .crewItem img{
    order: 4;
    align-self: center;
  }

  .crewNav{
    right: 35%;
    width: 30%;
    bottom: 63%;
    height: 50px;
  }

  .crewNav a{
    font-size: 250px;
    line-height: 0;
  }

  #technology{
    background:  
      url('assets/technology/background-technology-tablet.jpg')
      no-repeat center top / 100% 100%;
    padding: 15% 0 10% 0;
    position: relative;
  }

  #technology h2{
    padding-left: 5%;
    margin-bottom: 10%;
  }

  .imgDesk{
    display: none;
  }

  .techNav{
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    position: absolute;
    top: 49%;
    margin: 0;
  }

  .techNav button{
    width: 100px;
    height: 100px;
  }

  .techPanel{
    flex-direction: column;
  }

  .techItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imgMob{
    display: block;
    order: 1;
    width: 100%;
    margin-bottom: 20%;
  }

  .techItem h3{
    color: white;
    font-size: 25px;
    order: 2;
    margin: 0;
  }

  .techItem h4{
    order: 3;
    font-size: 70px;
    margin: 0 0 3% 0;
  }

  .techItem p{
    order: 4;
    margin: 0;
    width: 70%;
    font-size: 25px;
    line-height: 40px;
    height: 250px;
    color: white;
  }
}

@media (max-width: 480px){
  body, header{
    width: 480px;
  }

  #DeskNav{
    display: none;
  }

  #MobNav{
    display: block;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 50px;
    margin-right: 2.5%;
  }

  #home{
    background:  
      url('assets/home/background-home-mobile.jpg')
      no-repeat center top / 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40% 5% 10% 5%;
  }

  #home h2{
    font-size: 140px;
    margin: 0;
  }

  #home p{
    width: 90%;
    font-size: 15px;
    line-height: 30px;
  }

  #home button{
    margin-top: 25%;
  }

  #MobNavPanel{
    flex-direction: column;
    background-color: rgba(89, 88, 88, 0.397); /* Very transparent white */
      -webkit-backdrop-filter: blur(2em); /* Apply blur effect */
      backdrop-filter: blur(3px);
    position: fixed;
    right: 0;
    top: 0;
    align-items: start;
    width: 65%;
    height: 100%;
  }

  #MobNavPanel a{
    color: white;
    margin-left: 5%;
    margin-bottom: 10%;
    text-transform: uppercase;
  }

  #MobNavPanel button{
    align-self: end;
    margin-top: 5%;
    margin-right: 5%;
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    margin-bottom: 25%;
  }

  #destination{
    background:  
      url('assets/destination/background-destination-mobile.jpg')
      no-repeat center top / 100% 100%;
    padding: 30% 5% 10% 5%;
  }

  #destination h2, #crew h2, #technology h2{
    font-size: 15px;
    text-align: center;
  }

  .planetsNav{
    right: 15%;
    top: 42%;
    height: 35px;
    width: 70%;
  }

  .planetsNav a{
    font-size: 20px;
    color: white;
  }

  .planet{
    display: flex;
    flex-direction: column;
  }

  .planet img{
    order: 1;
  }

  .planet h3{
    order: 2;
    margin-top: 10%;
    font-size: 100px;
  }

  .planet p{
    order: 3;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 15%;
  }

  .plh4_1{
    order: 4;
  }

  .plh5_1{
    order: 5;
  }

  .plh4_2{
    order: 6;
  }

  .plh5_2{
    order: 7;
  }

  .planet h4{
    color: white;
    font-size: 20px;
  }

  .planet h5{
    font-size: 40px;
    font-weight: 400;
  }

  #crew{
    background:  
      url('assets/crew/background-crew-mobile.jpg')
      no-repeat center top / 100% 100%;
    padding: 30% 5% 0 5%;
  }

  .crewItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .crewItem h3{
    order: 2;
    font-size: 35px;
    height: 40px;
    margin-top: 20%;
    color: white;
  }

  .crewItem h4{
    order: 3;
    font-size: 40px;
    height: 50px;
  }

  .crewItem p{
    order: 4;
    margin-bottom: 15%;
    margin-top: 5%;
    font-size: 20px;
    color: white;
    line-height: 35px;
    padding: 0 5% 0 5%;
    height: 250px;
  }

  .crewItem img{
    order: 1;
    height: 350px;
  }

  .crewNav{
    right: 25%;
    width: 50%;
    bottom: 51%;
    height: 50px;
  }

  .crewNav a{
    font-size: 250px;
    line-height: 0;
  }

  #technology{
    background:  
      url('assets/technology/background-technology-mobile.jpg')
      no-repeat center top / 100% 100%;
    padding: 30% 0 10% 0;
  }

  .imgDesk{
    display: none;
  }

  .techNav{
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    position: absolute;
    top: 42%;
    margin: 0;
  }

  .techNav button{
    width: 70px;
    height: 70px;
  }

  .techItem h3{
    font-size: 20px;
    margin-top: 10%;
  }

  .techItem h4{
    font-size: 40px;
  }

  .techItem p{
    margin: 0;
    width: 90%;
    font-size: 20px;
    line-height: 35px;
  }
}